<div class="background-card mt-5" data-aos="flip-down" style="padding-top: 6%;">
    <div class="container m-auto p-4" style="margin: auto; ">
        <h1 style="color: azure; text-align: center;" class="h1-content-center">What people are saying about us</h1>
        <div class="d-flex justify-content-center mb-3" style="width: 1000px; margin: auto; top: 300px;">
            <div class="p-2">
                <img src="../../images/Ellipse 1.png" alt="">
            </div>
            <div class="py-1 mx-4">
                <p class="text-content" style="color: #fff;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac
                    aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                    inceptos himenaeos.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="container mt-4">
    <div class="" style="text-align: center;">
        <h1 class="text-primary">Our Chefs</h1>
        <h3 class="text-light">The Best Chefs in the World</h3>
    </div>

    <div class="d-flex justify-content-between mt-3 " style="text-align: center;">
        <div class="m-4" data-aos="fade-right">
            <div class="d-flex flex-column mb-3">
                <img src="../../images/Rectangle 27.svg" alt="">
                <h4 class="text-light mt-4">Kelvin Saputra</h4>
                <h4 style="color: #898989;">Head Chef</h4>
            </div>
        </div>
        <div class="m-4" data-aos="fade-up">
            <div class="d-flex flex-column mb-3">
                <img src="../../images/Rectangle 28.svg" alt="">
                <h4 class="text-light mt-4">Arika Subawa</h4>
                <h4 style="color: #898989;">Head Chef</h4>
            </div>
        </div>
        <div class="m-4" data-aos="fade-left">
            <div class="d-flex flex-column mb-3">
                <img src="../../images/Rectangle 29.svg" alt="">
                <h4 class="text-light mt-4">Aditya Dharma</h4>
                <h4 style="color: #898989;">Head Chef</h4>
            </div>
        </div>
    </div>
</div>