<!-- navbar header-->
<nav
  class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark py-2 fixed-top"
>
  <div class="container d-flex justify-content-between">
    <!-- Brand Navbar -->
    <a href="#" class="navbar-brand text-primary fw-bold">Haiya.Resto</a>
    <ul class="navbar-nav fw-normal d-flex justify-content-center gap-3">
      <li class="nav-item">
        <a href="#" class="nav-link text-light">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link text-light d-flex align-items-center justify-content-center"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Menu <ion-icon name="chevron-down-outline"></ion-icon>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Appetizer</a></li>
          <li><a class="dropdown-item" href="#">Main Course</a></li>
          <li><a class="dropdown-item" href="#">Drink</a></li>
          <li><a class="dropdown-item" href="#">Dessert</a></li>
        </ul>
      </li>
      <li class="nav-item text-light">
        <a href="#" class="nav-link text-light">Reservation</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-light">About Us</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-light">Contact Us</a>
      </li>
    </ul>
    <ul class="navbar-nav d-flex align-items-center">
      <li class="nav-item">
        <a href="#" class="nav-link"
          ><ion-icon class="text-primary fs-5" name="person"></ion-icon
        ></a>
      </li>
    </ul>
  </div>
</nav>

<header class="container-fluid">
  <div
    class="bg-image d-flex justify-content-center align-items-center flex-column"  data-aos="fade-up"
    data-aos-anchor-placement="top-bottom"
  >
    <div class="container text-center">
      <h1 class="text-light fw-semibold fs-1">
        我们服务一切 , We Serve Everything.
      </h1>
      <p class="text-light fs-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate
        libero et velit interdum, ac aliquet odio mattis.
      </p>
      <a href="#" class="btn btn-primary fw-medium">Reservation Now</a>
    </div>
  </div>
</header>
