<!-- Gallery -->
<div class="container">
    <h1 class="text-center text-primary pt-5">Gallery</h1>
    <p class="text-center text-white fs-5">This is our galery haiya.resto</p>
    <div class="galeri-info">
        <div class="d-flex flex-row mb-3 gap-4">
            <div class="text-center">
                <img src="/images/gallery1.svg" alt="Pict 1">
            </div>
            <div class="text-center">
                <div class="row align-items-start flex">
                    <div class="col">
                        <div class="grid gap-0 row-gap-0">
                            <img src="/images/gallery2.svg" alt="Pict 2" class="pb-3 ">
                            <img src="/images/gallery3.svg" alt="Pict 3" class="pt-3">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <img src="/images/gallery4.svg" alt="Pict 4">
            </div>
        </div>
    </div>
</div>
<!-- End Gallery -->
<!-- Footer -->

<!-- End Footer -->